body {
  margin: 0px;
}

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
  height: calc(100% - 10px);
  padding-top: 10px;
  background-color: #191919;
  color: #505050;
}

#container {
  position: absolute;
  top: 0px;
  left: 20%;
  width: 80%;
}

ul {
  padding: 0px;
  margin: 10px;
}

ul li {
  margin: 0px;
  list-style-type: none;
}

nav>ul:first-child {
  margin-bottom: 40px;
}

nav>ul:first-child>li:first-child {
  font-size: 32px;
}

nav>ul:first-child>li:last-child {
  font-size: 16px;
  color: #797979;
  font-weight: bold;
}

nav>ul:last-child>li:nth-child(odd) {
  font-family: Raleway, "serif";
  font-size: 20px;
  color: #FFF;
}

nav>ul:last-child>li:nth-child(even)>ul>li {
  font-family: Roboto, "sans-serif";
  padding: 10px;
  transition: all 0.4s;
}

nav>ul:last-child>li:nth-child(even)>ul>li:hover {
  cursor: pointer;
  background-color: #000;
  color: #FFF;
}

#line-graph {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}

#line-graph>.highcharts-container {
  top: calc(50% - 100px);
}

#get-veted-content {
  cursor: pointer;
}
